# Environment
.env
.env.local
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Testing
.pytest_cache/
.coverage
htmlcov/

# UV
.uv/

# Logs
*.log
logs/

# Data / Datasets
datasets/

# OS
.DS_Store
Thumbs.db

nutrion.mp4
